header {
  box-shadow: var(--box-shadow);
  position: sticky;
  top: -80px;
  width: 100%;
  z-index: 10;
}

header div {
  display: flex;
}

.header__aux-bar {
  align-items: center;
  background-color: white;
  height: 60px;
  justify-content: space-around;
}

.header__aux-bar > div {
  align-items: center;
}

.header__aux-bar button {
  margin-left: 20px;
}

.header__aux-bar .icon {
  margin-right: 20px;
}

.header__logo-container {
  align-items: center;
  background-image: var(--color-gradient);
  height: 80px;
  justify-content: center;
  width: 180px;
}

.header__logo-container > img {
  width: 60px;
}

.header__logo-container + h2 {
  line-height: 80px;
  margin-left: 40px;
}

.header__nav-bar {
  background-color: var(--dark-purple);
  background-image: linear-gradient(
    135deg,
    rgba(255 255 255 / 10%),
    rgba(255 255 255 / 0%)
  );
  color: white;
  justify-content: space-between;
}

.header__nav-bar > nav {
  margin-right: 180px;
}

.header__nav-link {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 80px;
  padding: 0 40px;
}

.header__nav-link.active {
  background-color: var(--dark-blue);
}
