.login {
  background-color: var(--dark-purple);
  padding-top: 40px;
}

.login > form {
  background-color: white;
  border-radius: 8px;
  padding: 60px;
  position: relative;
}

.login > img {
  height: 180px;
  margin-bottom: 20px;
}

.login h2 {
  margin-bottom: 20px;
}

.login__go-back-button {
  font-size: 1.75rem;
  left: 20px;
  position: absolute;
  top: 20px;
}

.login__text {
  margin-left: auto;
  text-decoration: line-through;
}
