.login-page {
  background-color: var(--dark-purple);
  padding-top: 40px;
}

.login-page > img {
  height: 180px;
  margin-bottom: 20px;
}

.login-page > form {
  background-color: white;
  border-radius: 8px;
  padding: 60px;
  position: relative;
}

.login-page > form > .absolute {
  font-size: 1.75rem;
  left: 20px;
  top: 20px;
}

.login-page > form > span {
  margin-left: auto;
  text-decoration: line-through;
}

.login-page h2 {
  margin-bottom: 20px;
}
