.login-page {
  align-items: center;
  background-color: var(--dark-purple);
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.login-page > img {
  margin-bottom: 20px;
  width: 240px;
}

.login-page > h1 {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.login-page > form {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  padding: 60px;
}

.login-page > form > span {
  /* border-bottom: 1px solid black; */
  margin-left: auto;
  text-decoration: line-through;
}

.login-page h2 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.login-page input {
  margin-bottom: 20px;
  width: 300px;
}

.login-page button {
  margin-top: 20px;
}
