.order-details > h2 {
  position: relative;
}

.order-details__status {
  border-radius: 4px;
  font-size: 1rem;
  padding: 2px 20px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}
