.input-container {
  position: relative;
}

.input-container > input[type='password'],
.input-container > input[type='text'] {
  padding-right: 50px;
}

.input-container > button {
  align-items: center;
  border-left: 1px solid var(--lighter-red);
  display: flex;
  font-size: 0.9rem;
  height: 20px;
  justify-content: center;
  right: 0;
  top: 10px;
  width: 40px;
}
