.password-verification {
  align-items: center;
  background-color: white;
  border-top: 8px solid var(--dark-blue);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 480px;
}

.password-verification .classic:first-of-type {
  margin-right: 20px;
}
