.product-card {
  align-items: center;
  background-color: white;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  padding: 20px;
  position: relative;
  width: 300px;
}

.product-card > h5 {
  margin-bottom: 20px;
}

.product-card > img {
  height: 120px;
  margin: 40px 0;
}
