.product-card {
  align-items: center;
  background-color: white;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  padding: 20px;
  position: relative;
  width: 300px;
}

.product-card > .price-tag {
  background-color: var(--dark-blue);
  border-radius: 4px;
  color: white;
  font-size: 1.25rem;
  left: 20px;
  padding: 0 10px;
  top: 20px;
}

.product-card > .price-tag > span:first-of-type {
  font-weight: 700;
}

.product-card > img {
  height: 120px;
  margin: 40px 0;
}

.product-card > h5 {
  margin-bottom: 20px;
}
