.sale-product-list {
  counter-reset: item;
}

.sale-product-list > ol {
  padding: 0 20px;
}

.sale-product-list > div:last-child {
  border-top: 2px solid var(--lightest-red);
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 20px;
  padding-top: 10px;
}

.sale-product-list li {
  display: flex;
  margin-bottom: 40px;
}

.sale-product-list li::before {
  content: counter(item) '.';
  counter-increment: item;
}

.sale-product-list li > div:first-child {
  flex-grow: 10;
  margin-left: 10px;
}
