.sale-details {
  counter-reset: item;
}

.sale-details > ol {
  padding: 0 20px;
}

.sale-details li {
  display: flex;
  margin-bottom: 40px;
}

.sale-details li::before {
  content: counter(item) '.';
  counter-increment: item;
}

.sale-details li > div:first-child {
  flex-grow: 10;
  margin-left: 10px;
}

.sale-details > div:last-child {
  border-top: 2px solid var(--lightest-red);
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 20px;
  padding-top: 10px;
}
