.list-container {
  counter-reset: item;
}

.list-container > div:last-child {
  border-top: 2px solid var(--lightest-red);
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 20px;
  padding-top: 10px;
}

.sale-product-list {
  padding: 0 20px;
}

.sale-product-list__item {
  display: flex;
  margin-bottom: 40px;
}

.sale-product-list__item::before {
  content: counter(item) '.';
  counter-increment: item;
}

.sale-product-list__item > div:first-child {
  flex-grow: 10;
  margin-left: 10px;
}
